.profileGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;

  div {
    border-radius: 3rem;

    img {
      height: 300px !important;
      width: 300px !important;
      max-width: fit-content;
      max-height: fit-content;
    }

  }
}

