:global {
	::cue {
		font-family: Verdana, sans-serif;
		color: #fff;
		background-color: transparent;
		text-shadow:
			-2px -2px 0 #000,
			 0   -2px 0 #000,
			 2px -2px 0 #000,
			-2px  0   0 #000,
			 2px  0   0 #000,
			-2px  2px 0 #000,
			 0    2px 0 #000,
			 2px  2px 0 #000;
	}
}
